@import url(reset.css);

@font-face {
  font-family: "Agdasima";
  src: url("../fonts/Agdasima-Regular.woff2") format("woff2");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Crimson Text";
  src: url("../fonts/CrimsonText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("../fonts/IBMPlexMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

/* ! ----------GLOBAL------------- */

body {
  background: rgb(119, 115, 115);
  font-family: "Agdasima";
}

header {
  background: #111;
}

h1 {
  font-size: 80px;
  text-transform: uppercase;
  text-align: center;
  color: aqua;
}

h2 {
  color: azure;
  font-size: 30px;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: azure;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* ?----------HEADER---------------- */

.nav {
  text-transform: uppercase;
  font-size: 30px;
  padding: 20px 0;
}

.nav > ul {
  display: flex;
  justify-content: space-between;
}

.nav > ul > li > a {
  display: block;
  position: relative;
  padding: 5px 5px 5px 35px;
  border: 1px solid azure;
  transition: color 2s ease;
}

.nav > ul > li:last-child > a {
  padding: 5px 30px 5px 5px;
}

.position-parent {
  position: relative;
}

.position-parent2 {
  position: relative;
}

.nav > ul > li:hover > a {
  color: aquamarine;
}

.position-parent:hover .position-child {
  left: 0;
  top: 100%;
}

.position-parent2:hover .position-child2 {
  right: 100%;
  z-index: 1;
}

.position-child {
  text-align: center;
  background: azure;
  position: absolute;
  width: 100%;
  top: 150%;
  left: -1000%;
  font-family: "IBM Plex Mono";
  transition: left 2s linear, top 0.5s ease 1.5s;
}

.position-child li a {
  color: #111;
  display: block;
  border: 1px solid aquamarine;
}

.position-child2 {
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  background: azure;
  z-index: -1;
  font-family: "Crimson Text";
  transition: right 0.5s ease;
}

.icon {
  width: 30px;
  height: 30px;
  fill: aquamarine;
  position: absolute;
  top: 5px;
  left: 0;
}

.icon2 {
  width: 30px;
  height: 30px;
  fill: aquamarine;
  position: absolute;
  top: 5px;
  right: 0;
}

/* ?------------Main Page--------------- */

.main-page {
  padding: 300px 0;
  background: url(../img/Muse4.jpg) no-repeat 50% 0 / 1200px 1000px;
  border: 1px solid aquamarine;
  margin: 100px 0;
}

/* ?------------ALBUMS------------------  */

.album {
  border-radius: 30px;
  padding: 20px 0;
  color: azure;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  background: #111;
  position: relative;
}

.album:first-child {
  margin-top: 100px;
}

.menu {
  width: 300px;
  background: #111;
  font-size: 20px;
  padding: 5px 0;
  text-align: center;
  position: fixed;
  left: 0;
  top: 50%;
  margin-top: -122px;
}

.menu ul li {
  border: 1px solid azure;
  margin: 10px;
}

.menu ul li a {
  display: block;
}

.menu ul li:hover a {
  color: aqua;
}

.hidden {
  display: none;
  height: 200px;
  overflow: hidden;
  font-size: 20px;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -100px;
  color: #111;
  background: rgba(255, 255, 255, 0.7);
  padding: 50px 10px;
}

.album:hover .hidden {
  display: block;
}

/* ?------Homeworks Global---------- */

.homework-container {
  margin: 100px 0;
}

.w400 {
  width: 400px;
}

.w800 {
  width: 800px;
}

.h400 {
  height: 400px;
}

.h200 {
  height: 200px;
}

.h133 {
  height: 133.3px;
}

.h100 {
  height: 100px;
}

.border {
  border: 1px solid red;
}

.bg-top {
  background: pink;
}

.bg-mid {
  background: violet;
}

.bg-bottom {
  background: purple;
}

/* -----Inline---------- */

.inline-parent {
  font-size: 0;
}

.inline-child {
  font-size: 16px;
  display: inline-block;
}

/* -----Float------------- */

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.float-child {
  float: left;
}

/* ----Flex----------------- */

.flex-parent {
  display: flex;
}

/* ?----Footer--------- */

.footer {
  background: #111;
  padding: 60px 0;
}

.social {
  text-align: center;
  color: aquamarine;
  font-size: 30px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.social-list li a {
  display: block;
}

.social-icons {
  fill: aquamarine;
  width: 50px;
  height: 50px;
}

.social-list li a:hover .social-icons {
  fill: aqua;
}
