* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: white;
}

h2 {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

div > h1 {
  padding: 20px;
  margin: 10px 20px;
  text-align: center;
  color: aquamarine;
  background-color: gray;
  font-size: 40px;
}

.header {
  background: #000;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
  color: white;
  font-size: 0px;
}

.container a {
  text-decoration: none;
}

.container-cards {
  font-size: 0px;
}

.card {
  font-size: 16px;
  display: inline-block;
  width: 400px;
  padding: 10px;
  vertical-align: top;
}

.card > div {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 10px;
  background-color: aquamarine;
}

.card_link {
  text-align: center;
}

.card h2 {
  text-align: center;
}

.card img {
  width: 100%;
  object-fit: cover;
  border: 3px solid blue;
}

.card-text {
  height: 80px;
  overflow: hidden;
}

.logo {
  width: 100px;
  display: inline-block;
  font-size: 30px;
  vertical-align: middle;
}

.block-list {
  width: 1000px;
  display: inline-block;
  font-size: 0px;
  vertical-align: middle;
  text-align: center;
}

.button-block {
  width: 100px;
  display: inline-block;
  vertical-align: middle;
}

.button-block button {
  cursor: pointer;
  background-color: azure;
  padding: 8px 12px;
  border-radius: 8px;
}

.block-list li {
  display: inline-block;
  font-size: 25px;
}

.block-list li + li {
  margin-left: 30px;
}

.a_forMore {
  background-color: aqua;
  padding: 10px 20px;
  margin: 20px 1410px 10px 40px;
}

.a_back {
  background-color: aquamarine;
  padding: 10px 20px;
  margin: 20px 1730px 10px 40px;
}

.originOfSym_color {
  color: rgba(255, 208, 0, 0.76);
}

.absolut_color {
  color: azure;
}

.blackHandR_color {
  color: rgb(255, 81, 0);
}

.resistance_color {
  color: rgb(0, 153, 255);
}

.the2Law_color {
  color: rgb(179, 41, 144);
}

.simTheory_color {
  color: rgb(211, 11, 134);
}

.showbiz_color {
  color: rgb(0, 153, 255);
}

.hullaballo_color {
  color: green;
}

.ta_right {
  text-align: right;
}

.a_originOfSym {
  background-color: rgba(255, 208, 0, 0.76);
  padding: 5px;
  margin-left: 787px;
}

.a_absolut {
  color: #000;
  background-color: azure;
  padding: 5px;
  margin-right: 795px;
}

.a_blackHandR {
  background-color: rgb(255, 81, 0);
  padding: 5px;
  margin-left: 667px;
}

.a_resistance {
  background-color: rgb(0, 153, 255);
  padding: 5px;
  margin-right: 715px;
}

.a_the2Law {
  background-color: rgb(179, 41, 144);
  padding: 5px;
  margin-left: 780px;
}

.a_drones {
  color: #000;
  background-color: azure;
  padding: 5px;
  margin-right: 672px;
}

.a_simTheory {
  background-color: rgb(211, 11, 134);
  padding: 5px;
  margin-left: 887px;
}

.albums_style {
  background-color: rgb(53, 50, 50);
  padding: 20px 40px;
  width: 1823px;
  margin: 20px auto;
  font-size: 20px;
}

.albums_style2 {
  text-align: center;
  background-color: rgb(53, 50, 50);
  padding: 20px 40px;
  width: 650px;
  margin: 20px auto;
  font-size: 20px;
}

.albums_style3 {
  text-align: center;
  padding: 20px 0px;
  font-size: 30px;
  color: white;
  border: 1px solid red;
}

.icebg1 {
  background-color: rgb(0, 183, 255);
}

.icebg2 {
  background-color: rgb(0, 110, 255);
}

.icebg3 {
  background-color: rgb(0, 68, 255);
}

.icebg4 {
  background-color: rgb(17, 0, 255);
}

.icebg5 {
  background-color: rgb(0, 0, 179);
}

.icebg6 {
  background-color: rgb(13, 13, 90);
}

.icebg7 {
  background-color: rgb(1, 1, 36);
}

.wrapper3 {
  width: 1200px;
  margin: 0 auto;
}

span + span {
  margin-left: 200px;
}

.block-top {
  font-size: 0px;
  margin-top: 40px;
}

.block-top > div {
  outline: 1px solid red;
  display: inline-block;
  width: 400px;
  height: 400px;
  font-size: 16px;
}

.block-mid {
  font-size: 0px;
}

.block-mid-child1 {
  outline: 1px solid red;
  display: inline-block;
  width: 800px;
  height: 400px;
  font-size: 16px;
}

.block-mid-child2 {
  outline: 1px solid red;
  display: inline-block;
  width: 400px;
  height: 400px;
  font-size: 16px;
}

.mid1 {
  outline: 1px solid red;
  width: 800px;
  height: 200px;
}

.mid2 {
  outline: 1px solid red;
  width: 400px;
  height: 133px;
}

.block-bottom {
  font-size: 0px;
  margin-bottom: 40px;
}

.block-bottom-child1 {
  outline: 1px solid red;
  display: inline-block;
  width: 400px;
  height: 400px;
  font-size: 16px;
}

.block-bottom-child2 {
  outline: 1px solid red;
  display: inline-block;
  width: 800px;
  height: 400px;
  font-size: 16px;
}

.bottom-top {
  outline: 1px solid red;
  width: 800px;
  height: 200px;
}

.bottom-bottom {
  font-size: 0px;
}

.bottom-bottom-child {
  outline: 1px solid red;
  display: inline-block;
  width: 400px;
  height: 200px;
  font-size: 16px;
}

.last-bottom {
  outline: 1px solid red;
  width: 400px;
  height: 100px;
}
