* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: rgb(119, 115, 115);
}

header {
  background: #111;
}

footer {
  background: #111;
}

h2 {
  color: azure;
  font-size: 30px;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: azure;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  color: azure;
  text-align: center;
  font-size: 50px;
  padding: 20px 0;
}

.album {
  border-radius: 30px;
  padding: 20px 0;
  color: azure;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  background: #111;
  position: relative;
}

.menu {
  width: 300px;
  background: #111;
  font-size: 20px;
  padding: 5px 0;
  text-align: center;
  position: fixed;
  left: 0;
  top: 50%;
  margin-top: -122px;
}

.menu ul li {
  border: 1px solid azure;
  margin: 10px;
}

.menu ul li:hover a {
  color: aqua;
}

.end {
  text-align: center;
  padding: 40px 0;
}

.hidden {
  display: none;
  width: 600px;
  height: 200px;
  font-size: 20px;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -300px;
  color: #111;
  background: rgba(255, 255, 255, 0.7);
  padding: 50px 10px;
}

.album:hover .hidden {
  display: block;
}
